<div id="zhfaxian" ng-controller="main2Ctrl">
	<!-- top -->
	<nav id="zh-nav-bar1">
    <div class="nav-wrapper" >
      
      <ul id="nav-mobile" >
        <li><a href="" >推荐
       </a></li>
        <li><a href="" >圆桌</a></li>
        <li><a href="" >热门</a></li>
         <li><a href="" >收藏</a></li>
         
      </ul>
    </div>
  </nav>


<!-- main -->
<div class="items">
<div class="banner">
	<div class="img"></div>
</div>
	<ul>
		<li class="item">
			<div class="list1">
				<div class="img">
					<img src="" alt="">
				</div>
				<span><span class="name">热门</span>回答了问题</span>
				<div class="genduo num2">
					12323
				</div>
			</div>
			<div class="list2">
			    <span class="titlel">
			    	星巴克是否存在问题 如有  怎么解决
			    </span>
				
			</div>
			<div class="list3">
			<p>
				星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决
			</p>
				
			</div>
			
		</li>

		<li class="item">
			<div class="list1">
				<div class="img">
					<img src="" alt="">
				</div>
				<span><span class="name">热门</span>回答了问题</span>
				<div class="genduo num2">
					12323
				</div>
			</div>
			<div class="imgs">
				
			</div>
			<div class="list2">
			    <span class="titlel">
			    	星巴克是否存在问题 如有  怎么解决
			    </span>
				
			</div>
			<div class="list3">
			<p>
				星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决星巴克是否存在问题 如有  怎么解决
			</p>
				
			</div>
			
		</li>


	</ul>
</div>
</div>