<div class="gengduo" id="gengduo" ng-controller="main5Ctrl">
 <!-- top -->
 <div class="top">
 	<span>更多</span>
 </div>

 <div class="item item1">
 	<div class="img">
 		
 	</div>
 	<h5>zhaoxin</h5>
 	<h6>查看或编辑个人主页</h6>
 </div>
 <div class="item item2">
 	<ul>
 		<li>
 			<div class="img icon-wodeguanzhu">
 				 
 			</div>
 			<div class="guanzhu">
 				我的关注
 			</div>
 		</li>

 		<li>
 			<div class="img icon-shoucang">
 				 
 			</div>
 			<div class="guanzhu">
 				我的收藏
 			</div>
 		</li>

 		<li>
 			<div class="img icon-caogao">
 				 
 			</div>
 			<div class="guanzhu">
 				我的草稿
 			</div>
 		</li>

 		<li>
 			<div class="img icon-zuijin">
 				 
 			</div>
 			<div class="guanzhu">
 				最近浏览
 			</div>
 		</li>
 	</ul>
 </div>
 <div class="item item2" id="item3">
 	<ul>
 		<li>
 			<div class="img icon-qingjingmoshishuimian">
 				 
 			</div>
 			<div class="guanzhu">
 				夜间模式
 				<div class="kaiguan icon-kaiguan3">
 				
 			</div>
 			</div>
 			
 		</li>
 		<li>
 			<div class="img icon-8">
 				 
 			</div>
 			<div class="guanzhu">
 				设置
 			</div>
 		</li>
 	</ul>
 </div>
	
</div>