<div class="guanzhu" id="guanzhu" ng-controller="main4Ctrl">
 <!-- top -->
 <div class="top">
 	<span>私信</span>
 </div>
<div class="main">
	<ul>
	
		<li class="item">
		
			<div class="img">
			<a href="">	</a>
			</div>
			<div class="wrap">
				<a href="">
			<div class="shang">
				<span class="name">王昕</span>
				<span class="riqi">今天<span class="time">08：50</span></span>
			</div>
			<div class="xia">
				<span class="xinxi">吃好吃吃去</span>
				<div class="fanhui"></div>
			</div>
			</a>
			</div>
		</li>
	
	</ul>
</div>

	
</div>